.db-lista-acao {
  width: 130px;
}

.db-consulta-coluna01 {
  width: 95px;
}

.db-consulta-coluna02 {
  width: 60px;
}

.db-consulta-coluna03 {
  width: 95px;
}

.db-consulta-coluna04 {
  width: auto;
}

.db-consulta-coluna05 {
  width: 125px;
}

.db-consulta-coluna06 {
  width: 60px;
}

.db-consulta-coluna07 {
  width: 210px;
}

.db-consulta-coluna08 {
  width: 150px;
}