[production] 
appnamespace                                            = "Application"
app.module.administrativo                               = "Administrativo"
app.module.auth                                         = "Auth"
app.module.contribuinte                                 = "Contribuinte"
app.module.default                                      = "Default"
app.module.fiscal                                       = "Fiscal"
app.module.global                                       = "Global"
app.module.webservice                                   = "WebService"

autoloadernamespaces.dbseller                           = "DBSeller_"
autoloadernamespaces.doctrine                           = "Doctrine_"
autoloadernamespaces.e2tecnologia                       = "E2Tecnologia_"
autoloadernamespaces.twitter                            = "Twitter_"
bootstrap.class                                         = "Bootstrap"
bootstrap.path                                          = APPLICATION_PATH "/Bootstrap.php"
doctrine.autoGenerateProxyClasses                       = 1
doctrine.entityPath                                     = APPLICATION_PATH "/entidades"
doctrine.connectionParameters.dbname                    = {$NOME_BANCO_DE_DADOS}
doctrine.connectionParameters.driver                    = "pdo_pgsql"
doctrine.connectionParameters.host                      = {$DATABASE_HOST}
doctrine.connectionParameters.password                  = {$DATABASE_PASS}
doctrine.connectionParameters.port                      = {$DATABASE_PORT}
doctrine.connectionParameters.user                      = {$DATABASE_USER}
doctrine.proxyNamespace                                 = "Proxy"
doctrine.proxyPath                                      = APPLICATION_PATH "/data/Proxy"
ecidadeonline2.ip.allow[]                               = "*"
ecidadeonline2.versao                                   = "{$VERSAO}"
includePaths.library                                    = APPLICATION_PATH "/../library"
phpSettings.display_errors                              = 0
phpSettings.display_startup_errors                      = 0
resources.frontController.baseUrl                       = ""
resources.frontController.defaultModule                 = "default"
resources.frontController.moduleControllerDirectoryName = "controllers"
resources.frontController.moduleDirectory               = APPLICATION_PATH "/modules"
resources.frontController.params.displayExceptions      = 0
resources.frontController.params.prefixDefaultModule    = 1
resources.frontController.plugins.auth                  = "DBSeller_Plugin_Auth"
resources.layout.layout                                 = "layouts/layout"
resources.layout.pluginClass                            = "DBSeller_Layout_Controller_Plugin_Layout"
resources.locale.default                                = "pt_BR"
resources.locale.force                                  = true
resources.log.stream.writerName                         = "Stream"
resources.log.stream.writerParams.stream                = APPLICATION_PATH "/../logs/application.log"
resources.log.stream.writerParams.mode                  = "a"
resources.log.stream.filterName                         = "Priority"
resources.log.stream.filterParams.priority              = 4
resources.log.stream.formatterName                      = "Simple"
resources.log.stream.formatterParams.format             = "[%timestamp%][%priorityName%][%ip%] %message% %info%" PHP_EOL
resources.mail.transport.auth                           = "login"
resources.mail.transport.host                           = {$EMAIL_HOST}
resources.mail.transport.password                       = {$EMAIL_PASS}
resources.mail.transport.port                           = {$EMAIL_PORT}
resources.mail.transport.register                       = true
resources.mail.transport.ssl                            = "tls"
resources.mail.transport.type                           = "Zend_Mail_Transport_Smtp"
resources.mail.transport.username                       = {$EMAIL_USER}
resources.mail.defaultFrom.email                        = "{$EMAIL_DEFAULT_FROM}"
resources.mail.defaultFrom.name                         = "NFS-e {$CLIENTE}"
resources.modules[]                                     =
resources.translate.data                                = APPLICATION_PATH "/data/locales"
resources.translate.locale                              = "auto"
resources.translate.options.disableNotices              = true
resources.translate.options.logMessage                  = "Traduzir '%locale%' : '%message%'"
resources.translate.options.logPriority                 = 5
resources.translate.reload                              = false
resources.translate.scan                                = "directory"
resources.view[]                                        =
resources.view.charset                                  = "UTF-8"
resources.view.doctype                                  = "HTML5"
resources.view.encoding                                 = "UTF-8"
settings.application.cache                              = "{$VERSAO}"
settings.application.datetime                           = "America/Sao_Paulo"
webservice.client.uri                                   = {$WEBSERVICE_URI}
webservice.client.url                                   = {$WEBSERVICE_URL}
webservice.client.location                              = {$WEBSERVICE_LOCAL}
webservice.logging                                      = false
webservice.cliente.user                                 = {$WEBSERVICE_USER}

[bloqueio : production]
ecidadeonline2.bloqueado                                = true